* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f9fbfd;
    margin: 0;
    
}

ul, ol {
    padding-left: 20px;
    list-style-position: inside;
}

.secao-topo {
    background-color: #fefffe;
    padding: 80px 20px;
    text-align: center;
    line-height: 2;
    width: 100%;
}

.secao-topo p {
    padding-top: 6px;
}

.return, .orders {
    text-align: left;
    padding-top: 60px;
    line-height: 2;
    margin: 0 40% 0 35%;
    width: 800px;

}

h2, p {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #618deb;
}

.orders {
    border-bottom: 1px solid #ccc;
}

h1, h2, span {
    font-weight: bold;
}

p {
    padding-top: 10px;
}
